body {
  margin: 0px;
  min-height: 100%;
}

main {
  min-height: 80vh;
  padding: 30px;
}

/* Index.html */


/* Login.html */
.form {
  border: 1px #3333 solid;
  padding: 15px;
}


@media (max-width: 575.98px) {
  body {
    margin: 0px;
    min-height: 100%;
  }

  main {
    min-height: 80vh;
    padding: 30px;
  }

}
